body{
    background-color: burlywood;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 200px 30px;
    justify-content: center;
}

.wrapper>.card-wrapper {
    background-color: ghostwhite;
    width: 200px;
    padding: 20px 30px;
    box-shadow: 0px 2px 6px 1px #53a089;
    text-align: center;
    border-radius: 20px;
}

.wrapper>.card-wrapper>img {
    width: 70px;
    border-radius: 100%;
}

.wrapper>.card-wrapper>button {
    border: none;
    background: none;
    outline: none;
    background: rgb(41, 37, 37);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}